//urls
$url_39: url('../svg/fond.svg');
$url_40: url('../img/guitare-duoalborada-ld.png');
$url_41: url('../img/guitare-duoalborada-ipad.png');
$url_42: url('../img/guitare-duoalborada-rond-seul.png');
$url_43: url('../img/svg/icon-play.svg');

