// Variables
@import '../admin/admin-variables';

// Bootstrap
@import '~bootstrap';

mark {
    background-color: #5cd08d !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
